
html, body {
    margin: 5px;
    font-family: monospace;
}
h1, h2, p {
    margin: 0;
    padding: 0;
}
.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cell {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 5px;
}
.thumbnail {
    display: flex;
    position: relative;
    min-width: 300px;
    max-height: 300px;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}
section > * {
    display: inline-flex;
    background-color: white;
    width: fit-content;
}
h1, h2, p {
    max-width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 5px;
}

p {
    padding: 5px;
}
