body
{
	background: white;
	padding: 4px;
}

a:link { 
	text-decoration: underline; 
	color: black; 
	font-weight: bold; 
}
a:visited { 
	text-decoration: underline; 
	color: black; 
	font-weight: bold; 
}
a:hover { 
	text-decoration: underline; 
	font-weight: bold;
	color: #ff7707; 
	text-shadow: 1px 1px 0px black;
}
a:active { 
	text-decoration: underline; 
	font-weight: bold;
	color: #ff7707; 
	text-shadow: 2px 2px 0px black;
}

.case200
{
	height: 200px;
	border: solid 4px white;
}

.case300
{
	height: 300px;
	border: solid 4px white;
}

.case400
{
	height: 400px;
	border: solid 4px white;
}

.caseTierHeight
{
	height:33vh;
	border: solid 4px white;
}

.caseTwoTierHeight
{
	height:66vh;
	border: solid 4px white;	
}

.caseHalfHeight
{
	height:50vh;
	border: solid 4px white;
}

.caseQuartHeight
{
	height:25vh;
	border: solid 4px white;
}

.case-container
{
	width: 100%;
	height: 100%;
}

.case-container:hover .title { display: block; }
.case-container:hover .description { display: block; }
.case-container:hover .buttons { display: block; }

@media screen and (min-width: 768px) {
    .case-container .title, .case-container .description, .case-container .buttons {
		display: none;
    }
}

.title
{
	padding: 8px;
    font: 20px sans-serif;
    font-weight: bold;
	color: black;
	background: url('../images/halfW.png');
	float: left;
	position: absolute;
	left:0px;
	right:0px;
}

.date 
{
	padding: 8px;
    font: 14px arial, sans-serif;
	float: right;
}

.description
{
	margin-top: 8px;
    font: 12px arial, sans-serif;
}

.buttons
{
	clear: both;
	margin-top: 8px;
}

.button
{
	padding: 4px;
    font: 18px arial, sans-serif;
	float: left;
}

.slash
{
	padding: 0 5px;
	display: inline-block;
}

.center
{
	text-align: center;
}

.big
{
	font-size: 32px;
}

.Empty
{
	background: gray;
}

.Leon
{
	background: url("../images/signInv.png") no-repeat center;
}

.VirtualManchot {background: url("../gifs/VirtualManchot.gif") no-repeat center; background-size: cover; }
.TalkingHeads {background: url("../gifs/TalkingHeads.gif") no-repeat center; background-size: cover; }
.OhoPlant {background: url("../gifs/OhoPlant.gif") no-repeat center; background-size: cover; }
.Octree {background: url("../gifs/Octree.gif") no-repeat center; background-size: cover; }
.TheSaltPlease {background: url("../gifs/TheSaltPlease.gif") no-repeat center; background-size: cover; }
.Tetra {background: url("../gifs/Tetra.gif") no-repeat center; background-size: cover; }
.NoControlStory {background: black url("../images/NoControlStory_Page_01.jpg") no-repeat center top; background-size: cover; }
.W {background: black url("../gifs/W.gif") no-repeat center; background-size: cover; }
.VJ {background: black url("../gifs/VJ.gif") no-repeat center; background-size: cover; }
.PixelSurgeon {background: url("../gifs/PixelSurgeon.gif") no-repeat center; background-size: cover; }
.PuzzleProtein {background: url("../gifs/PuzzleProtein.gif") no-repeat center; background-size: cover; }
.ShitHappens {background: url("../gifs/ShitHappens.gif") no-repeat center; background-size: cover; }
.SpaceWorder {background: url("../gifs/SpaceWorder.gif") no-repeat center; background-size: cover; }
.Syval {background: url("../gifs/Syval.gif") no-repeat center; background-size: cover; }
.Groots {background: url("../gifs/Groots.gif") no-repeat center; background-size: cover; }
.OhoPlant2 {background: url("../gifs/OhoPlant2.gif") no-repeat center; background-size: cover; }
.Raymarching {background: url("../gifs/Raymarching.gif") no-repeat center; background-size: cover; }
.GPU {background: url("../gifs/GPU.gif") no-repeat center; background-size: cover; }
.Isochrone {background: url("../gifs/Isochrone.gif") no-repeat center; background-size: cover; }
.AtomThatMatters {background: url("../gifs/AtomThatMatters.gif") no-repeat center; background-size: cover; }
.Myst {background: url("../gifs/TributeToMyst.gif") no-repeat center; background-size: cover; }
.DingDong {background: url("../gifs/DingDong.gif") no-repeat center; background-size: cover; }
.Choupichoup {background: url("../gifs/Choupichoup.gif") no-repeat center; background-size: cover; }
.LightPath {background: url("../gifs/LightPath.gif") no-repeat center; background-size: cover; }
.TimeDisplacement {background: url("../gifs/TimeDisplacement.gif") no-repeat center; background-size: cover; }
.ZooMachines2014 {background: url("../images/ZooMachines2014.png") no-repeat center; background-size: cover; background-color: black; }
.ZooMachines2015 {background: url("../images/ZooMachines2015.png") no-repeat center; background-size: cover; }

.More {background: url("../gifs/More.gif") no-repeat center; background-size: cover; }

.B1 { background: url("../gifs/more/B1.gif") no-repeat center; background-size: cover; }
.B2 { background: url("../gifs/more/B2.gif") no-repeat center; background-size: cover; }
.B3 { background: url("../gifs/more/B3.gif") no-repeat center; background-size: cover; }
.B4 { background: url("../gifs/more/B4.gif") no-repeat center; background-size: cover; }
.B5 { background: url("../gifs/more/B5.gif") no-repeat center; background-size: cover; }
.B6 { background: url("../gifs/more/B6.gif") no-repeat center; background-size: cover; }
.B9 { background: url("../gifs/more/B9.gif") no-repeat center; background-size: cover; }
.B10 { background: url("../gifs/more/B10.gif") no-repeat center; background-size: cover; }
.B11 { background: url("../gifs/more/B11.gif") no-repeat center; background-size: cover; }
.B14 { background: url("../gifs/more/B14.gif") no-repeat center; background-size: cover; }
.B15 { background: url("../gifs/more/B15.gif") no-repeat center; background-size: cover; }

.P5 { background: url("../gifs/more/P5.gif") no-repeat center; background-size: cover; }
.P6 { background: url("../gifs/more/P6.gif") no-repeat center; background-size: cover; }
.P0 { background: url("../gifs/more/P0.gif") no-repeat center; background-size: cover; }
.P7 { background: url("../gifs/more/P7.gif") no-repeat center; background-size: cover; }
.P8 { background: url("../gifs/more/P8.gif") no-repeat center; background-size: cover; }
.P1 { background: url("../gifs/more/P1.gif") no-repeat center; background-size: cover; }
.P4 { background: url("../gifs/more/P4.gif") no-repeat center; background-size: cover; }
.P3 { background: url("../gifs/more/P3.gif") no-repeat center; background-size: cover; }

.L1 { background: url("../gifs/more/L1.gif") no-repeat center; background-size: cover; }
.L2 { background: url("../gifs/more/L2.gif") no-repeat center; background-size: cover; }
.L3 { background: url("../gifs/more/L3b.gif") no-repeat center; background-size: cover; }
.L4 { background: url("../gifs/more/L4.gif") no-repeat center; background-size: cover; }
.L5 { background: url("../gifs/more/L5.gif") no-repeat center; background-size: cover; }

.K2 { background: url("../gifs/more/K2.gif") no-repeat center; background-size: cover; }
.Kebab { background: url("../gifs/more/Kebab.gif") no-repeat center; background-size: cover; }
.O1 { background: url("../gifs/more/O1.gif") no-repeat center; background-size: cover; }
.O2 { background: url("../gifs/more/O2.gif") no-repeat center; background-size: cover; }
.W1 { background: url("../gifs/more/W1.gif") no-repeat center; background-size: cover; }
.W2 { background: url("../gifs/more/W2.gif") no-repeat center; background-size: cover; }
.W3 { background: url("../gifs/more/W3.gif") no-repeat center; background-size: cover; }
.W4 { background: url("../gifs/more/W4.gif") no-repeat center; background-size: cover; }
.H1 { background: url("../gifs/more/H1.gif") no-repeat center; background-size: cover; }
.K1 { background: url("../gifs/more/K1.gif") no-repeat center; background-size: cover; }

.VJ1 { background: url("../gifs/more/VJ1.gif") no-repeat center; background-size: cover; }
.VJ2 { background: url("../gifs/more/VJ2.gif") no-repeat center; background-size: cover; }
.VJ3 { background: url("../gifs/more/VJ3.gif") no-repeat center; background-size: cover; }
.VJ4 { background: url("../gifs/more/VJ4.gif") no-repeat center; background-size: cover; }
.VJ5 { background: url("../gifs/more/VJ5.gif") no-repeat center; background-size: cover; }

.R1 { background: url("../gifs/more/R1.gif") no-repeat center; background-size: cover; }
.R2 { background: url("../gifs/more/R2.gif") no-repeat center; background-size: cover; }
.R5 { background: url("../gifs/more/R5.gif") no-repeat center; background-size: cover; }
.R6 { background: url("../gifs/more/R6.gif") no-repeat center; background-size: cover; }
.R7 { background: url("../gifs/more/R7.gif") no-repeat center; background-size: cover; }
.R8 { background: url("../gifs/more/R8.gif") no-repeat center; background-size: cover; }
.R9 { background: url("../gifs/more/R9b.gif") no-repeat center; background-size: cover; }
.R12 { background: url("../gifs/more/R12.gif") no-repeat center; background-size: cover; }
.R15 { background: url("../gifs/more/R15.gif") no-repeat center; background-size: cover; }
.R16 { background: url("../gifs/more/R16.gif") no-repeat center; background-size: cover; }
.R17 { background: url("../gifs/more/R17.gif") no-repeat center; background-size: cover; }