:root {
    --color: white;
    --background-color: black;
}

@font-face {
  font-family: "Noto";
  src: url("/content/font/NotoSans-VariableFont_wdth\,wght.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: black;
    font-family: "Noto";
    font-size: 16px;
}

.blur {
    filter: blur(10px) brightness(30%) ;
}

.shadow {
    box-shadow: 0 0 20px black;
}

.gui_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

#home_button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 80px;
}