:root {
    --color: white;
    --background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-color: black;
}

.blur {
    filter: blur(10px) brightness(30%) ;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

#home_button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 80px;
}