
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.space {
    margin-bottom: 20px;
}

.gap {
    gap: 10px;
}

.self_center {
    align-self: center;
}