
.row {
    display: flex;
    flex-direction: row;
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.column {
    display: flex;
    flex-direction: column;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.wrap {
    flex-wrap: wrap;
}

.stretch > * {
    flex-grow: 1;
}

.space {
    margin-bottom: 20px;
}

.gap {
    gap: 10px;
}

.self_center {
    align-self: center;
}