
.page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.info {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
    padding: 10px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.tag {
    text-decoration: underline 2px white dotted;
}

a {
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: none;
}

p {
    padding-top: 10px;
}

.media {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.media > * {
    flex-grow: 1;
}

.media-band {
    display: flex;
    flex-direction: row;
    height: 50vh;
}

.media-band > * {
    flex-grow: 1;
}

video, img {
    object-fit: cover;
    min-width: 0;
    max-width: 100%;
    max-height: 90vh;
}

.horizontal {
    min-height: 300px;
}

@media screen and (max-width: 800px) {
    .page {
        flex-direction: column;
        height: inherit;
        overflow: auto;
    }
    .info {
        min-width: inherit;
        max-width: inherit;
        font-size: 0.8em;
    }
    .media-band {
        height: 25vh;
    }
}