
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body
{
    background-color: black;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* padding: 20px; */
}

body > *
{
    position: relative;
    display: flex;
    width: 100%;
    height: 400px;
}

body > * > *
{
    position: relative;
    height: 400px;
    flex: 1;
}

a {
    font-weight: bolder;
}

img, video
{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

h2
{
    font-size: 18px;
}

p
{
    font-size: 16px;
}

section
{
    position: absolute;
    height: fit-content;
    padding: 10px;
    z-index: 10;
}

section > *
{
    width: fit-content;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(0,0,0,0.75);
    padding:  5px 10px;
}

section p
{
    max-width: min(100%, 600px);
}