
:root {
    --row-height: 400px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body
{
    background-color: black;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* padding: 20px; */
}

body > *
{
    position: relative;
    display: flex;
    width: 100%;
    height: var(--row-height);
}

body > * > *
{
    position: relative;
    height: var(--row-height);
    flex: 1;
}

a {
    font-weight: bolder;
}

img, video
{
    height: var(--row-height);
    width: 100%;
    object-fit: cover;
}

h2
{
    font-size: 18px;
}

p
{
    font-weight: bolder;
    font-size: 16px;
}

section
{
    position: absolute;
    height: fit-content;
    padding: 10px;
    z-index: 10;
    flex: 2;
    text-shadow: 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black;
    /* text-shadow: -1px -1px 1px rgba(0,0,0,0.75), 1px -1px 1px rgba(0,0,0,0.75), -1px 1px 1px rgba(0,0,0,0.75), 1px 1px 1px rgba(0,0,0,0.75); */
    /* backdrop-filter: blur(10px); */
    /* outline: 1px dashed black; */
}

section > *
{
    width: fit-content;
    /* backdrop-filter: blur(10px); */
    /* background-color: rgba(0,0,0,0.75); */
    padding:  5px 10px;
}

section p
{
    max-width: min(100%, 600px);
}