
:root {
    --slide-height: 100vh;
    --box-shadow-color: rgba(0,0,0,0.5);
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a {
    font-weight: bolder;
}

.about {
    position: relative;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 10px var(--box-shadow-color);
}

.about img {
    border-radius: 4px;
}

.about p {
    width: 280px;
    height: 280px;
}

.slide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: center / cover;
    padding: 200px 0;
}

.slide > * {
    margin: 5px;
    border-radius: 4px;
}

.slide a img {
    border-radius: 4px;
}


.slide h1 {
    font-weight: bolder;

    padding: 10px;
    border-radius: 4px;
    backdrop-filter: blur(20px) brightness(70%);
}

.slide h2 {
    font-weight: normal;
    text-align: center;

    padding: 10px;
    border-radius: 4px;
    backdrop-filter: blur(20px) brightness(70%);
}

.slide p {
    font-weight: normal;
    max-width: 600px;
    padding: 10px;
    border-radius: 4px;
    backdrop-filter: blur(20px) brightness(70%);
}

.slide span {
    margin: 0;
    flex-basis: 100%;
}

.slide .frame {
    position: relative;
    width: fit-content;
}

.slide h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    border-radius: 4px;
    backdrop-filter: blur(20px) brightness(80%);
}

.frame img,
.frame video,
.frame iframe
{
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 0 10px var(--box-shadow-color);
}

.slide img,
.slide video,
.slide iframe
{
    position: relative;
    max-width: 100%;
    max-height: 300px;
    box-shadow: 0 0 10px var(--box-shadow-color);
}

.gallery {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    height: 300px;
    width: 100%;
}

.gallery > * {
    background: center / cover;
    flex: 1;
}

.gallery h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-weight: bolder;
    padding: 10px;
    border-radius: 4px;
    backdrop-filter: blur(20px) brightness(80%);
}

.no-shadow {
    box-shadow: none !important;
}

.circle-shadow {
    border-radius: 50%;
}