
:root {
    --slide-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.slide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: center / cover;
    height: 100vh;
    /* padding: 80px 10px; */
}

.slide > * {
    margin: 5px;
    border-radius: 4px;
}

.slide h1 {
    font-size: xx-large;
    font-weight: bolder;

    padding: 10px;
    border-radius: 4px;
    backdrop-filter: blur(20px) brightness(80%);
}

.slide h2 {
    font-size: large;
    font-weight: normal;
    text-align: center;

    padding: 10px;
    border-radius: 4px;
    backdrop-filter: blur(20px) brightness(80%);
}

.slide h3 {
    flex-basis: 100%;
}

.slide a {
    font-weight: bolder;
}

.slide p {
    font-weight: normal;
    max-width: 600px;
    padding: 10px;
    border-radius: 4px;
    backdrop-filter: blur(20px) brightness(80%);
}

.slide span {
    margin: 0;
    flex-basis: 100%;
}

.slide img {
    position: relative;
    max-width: 100%;
    max-height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.slide video {
    position: relative;
    max-height: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.no-shadow {
    box-shadow: none !important;
}