

.grid
{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.grid > *
{
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;
  text-align: center;
  overflow: hidden;
}

.grid h3
{
  position: absolute;
  font-size: medium;
  padding: 2px 4px;
  
  left: 0; 
  right: 0;
  margin: 0;
  bottom: 20px;
  
  margin-inline: auto; 
  width: fit-content;
  pointer-events: none;
  z-index: 50;

  color: white;
  filter: drop-shadow(0 0 2px black);
}

.grid a:hover h3
{
  text-decoration: underline;
}

.grid img
{
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.grid a img:hover
{
  transform: scale(1.1);
}
