

.grid
{
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  align-items: stretch;
}

.grid > *
{
  /* flex-grow: 1; */
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}