
.grid
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  margin: 10px;
}

.cell
{
  display: grid;
  position: relative;
  min-height: 300px;
}

.cell-2x1
{
  grid-column: span 2;
}

.cell-2x2
{
  grid-column: span 2;
  grid-row: span 2;
}

.cell-1x2
{
  grid-row: span 2;
}

.cell canvas
{
  position: absolute;
  height: 100%;
  width: 100%;
}

.cell .view
{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cell video
{
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.cell-link
{
  display: grid;
}

.grid p
{
  padding-bottom: 10px;
}