body {
    margin-top: 50px;
    overflow: hidden;
}

.column-container {
    display: flex;
}

@media screen and (max-width: 800px)
{
    body {
        overflow: auto;
    }
    .column-container {
        flex-direction: column-reverse;
    }
    .column-container > * {
        flex: 1 !important;
        width: 100% !important;
    }
    .column { margin-bottom: 0 !important; }
    .info { margin-bottom: 0 !important; }
}

.column-container > * {
    overflow: auto;
    height: 100vh;
}

.column-left { flex: 0.5; }
.column-middle { flex: 0.3; }
.column-right { flex: 0.2; min-width: 300px; }

.column {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: end;
    margin-bottom: 50px;
}

.column > * {
    width: 100%;
}

.info {
    padding: 20px;
    margin-bottom: 50px;
}

.credits > * { display: block; }