
.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1.5fr .5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "nav nav"
        "gallery text"
}

@media screen and (max-width: 1200px) {
    .text {
        font-size: small;
    }
}

@media screen and (max-width: 800px)
{
    .container {
        grid-template-columns: 1fr !important;
        grid-template-areas:
            "nav"
            "text"
            "gallery";
        overflow: auto;
    }

    .container > * {
        overflow: visible !important;
    }
}

.gallery { grid-area: gallery; }
.text { grid-area: text; }
nav { grid-area: nav; }

.container > * {
    overflow: auto;
}

.grid
{
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  align-items: stretch;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(26, 26, 26, 0.185) 100%);
}

.grid > *
{
  flex-grow: 1;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.grid > * {
    width: 100%;
    height: auto;
}

.grid img,
.grid video
{
  object-fit: cover;
}

.info {
    padding: 20px;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(26, 26, 26, 0.185) 100%); 
}