

@font-face {
  font-family: open-sans;
  src: url(OpenSans.ttf);
}

body
{
  color: white;
  /* background-color: black; */
  background-image: url('/about/background.jpg');
  font-family: sans-serif;
  margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active
{
  color: white;
}

nav
{
  grid-area: nav;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 8px;

  text-align: center;
  background: rgb(237,11,11);
  background: linear-gradient(90deg, rgba(237,11,11,1) 0%, rgba(236,235,20,1) 49%, rgba(0,212,255,1) 100%); 
}

nav a
{
  padding: 4px 8px;
  margin: 0 4px;
  text-decoration: none;
  border-radius: 4px;
  font-size: medium;

  color: black !important;
}

nav a:hover
{
  color: white !important;
  background-color: #111;
  mix-blend-mode: multiply;
}

.container {
  display: grid;
  grid-auto-flow: row;
  gap: 0px 0px;
  
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(26, 26, 26, 0.185) 100%); 
}

.container > * {
  overflow: auto;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}

.column > * {
  width: 100%;
}

.rows {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}

.rows > * {
  flex: 1;
  width: 100%;
}

.landscape-portrait {
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1.4fr .9fr 0.7fr;
  grid-template-areas:
      "nav nav nav"
      "landscape portrait info"
}

.layout-simple {
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-areas:
      "nav nav"
      "media info"
}

.layout-solo {
  overflow: auto;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
      "nav"
      "content"
}

.layout-solo .info {
  padding: 0 !important;
  padding-top: 20px !important;
}

.landscape { grid-area: landscape; }
.portrait { grid-area: portrait; }
.content {
  grid-area: content;
  margin: auto;
  text-align: center;
}

.media {
  grid-area: media;
  overflow: hidden;
}

.media > * {
  overflow: auto;
}

.info {
  grid-area: info;

  padding: 20px;
  font-size: small;
}

@media screen and (max-width: 1200px)
{
  .landscape-portrait {
      overflow: auto;
      
      grid-template-rows: 50px auto 1fr auto;
      grid-template-columns: 1fr 1fr !important;
      grid-template-areas:
          "nav nav"
          "info info"
          "portrait landscape";
  }

  .info p {
      display: inline;
  }

  .layout-simple .rows {
    flex-direction: column;
  }

  .layout-simple .media {
    overflow: auto;
  }

  .layout-simple .media > * {
    overflow: visible !important;
  }
}

@media screen and (max-width: 600px)
{
  .landscape-portrait {
      grid-template-rows: 50px auto 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
          "nav nav"
          "info info"
          "portrait landscape";
  }

  .layout-simple {
    grid-template-rows: 50px auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "info"
      "media";
  }
}