
/* variables */

:root
{
  --navigation-size: 80px;
  --border-radius: 5px;
  --post-color: #797979;
}

/* global */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  color: #eee;
  font-family: monospace;
  background-color: #222;
  background-image: url("/media/images/bluenoise-shadertoy-20.png");
}

.background
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/media/images/bluenoise-shadertoy.png");
  opacity: 0.5;
  z-index: -1;
}

/* fonts */

@font-face {
  font-family: Font;
  src: url(font/Oswald-VariableFont_wght.woff2);
}

@font-face {
  font-family: Icons;
  src: url(font/bootstrap-icons.woff2);
}

/* text */

.text-center
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  filter: drop-shadow(0 0 1vmin black);
  padding: 8px;
  margin: 8px;
  font-weight: 400;
  font-size: 6vmin;
  line-height: 6vmin;
  z-index: 1;
}

/* interaction */

a,
a:link,
a:visited,
a:hover,
a:active
{
  color: #fff;
  text-decoration: none;
}

.unselectable
{
  user-select: none;
}

/* effects */

.shadow
{
  box-shadow: 0px 0px 5px #111;
}

.shadow-inset
{
  box-shadow: 0px 0px 5px #111 inset;
}

.text-gradient
{
  color: transparent;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  background-clip: text;
}

.borders
{
  border-radius: var(--border-radius);
}