
html, body {
    margin: 0;
    font-family: monospace;
    height: 100%;
}

a {
    color: black;
}

#canvas_main {
    display: block;
    width: 100%;
    height: 100%;
}

#canvas_preview {
    display: inline-block;
    width: 100px;
    height: 100px;
}

#gui_top_left {
    position: absolute;
    top: 10px;
    left: 10px;
}

#gui_top_center {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%,0);
}

#gui_top_right {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    align-items: end;
}

#gui_bottom_left {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#gui_bottom_right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
    align-items: end;
}

#gui_settings .row {
    justify-content: right;
}

#gui_settings_mask {
    padding: 0 5px;
}

#gui_settings_mask .row {
    justify-content: right;
}

#image_width {
    width: 40px;
}

#image_height {
    width: 40px;
}

#gui_color > * {
    width: 40px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.panel label {
    padding-right: 5px;
}

.panel {
    padding: 5px;
    width: fit-content;
    color: black;
    background: white;
    display: flex;
    flex-direction: column;
}

#gui_top_left .panel {
    box-shadow: -5px 0 0 black;
}

#gui_top_right .panel {
    box-shadow: 5px 0 0 black;
}

#gui_bottom_right .panel {
    margin-left: 10px;
    box-shadow: 5px 0 0 black;
}

#gui_bottom_left .panel {
    box-shadow: -5px 0 0 black;
}

.space {
    margin-bottom: 10px;
}