*,
:root {
	/*TYPE SIZES*/
	--very_small_text_size: 11px;
	--very_small_text_lh: 12px;
	--small_text_size: 14px;
	--small_text_lh: 15.5px;
	--medium_text_size: 20px;
	--medium_text_lh: 22px;
	--large_text_size: 40px;
	--large_text_lh: 35px;
	font-size: var(--small_text_size);
	line-height: var(--small_text_lh);

	/*MARGINS*/
	--small_padding: 0.55rem 0.7rem 0.4rem 0.7rem;
	--title_padding: 0.5rem 0.9rem 0.5rem 0.9rem;
	--block_padding:  0.5rem;
	--modal_padding:  2rem;

	/*COLORS*/
	--green: rgb(154, 255, 166);
	--transparent_green: rgba(154, 255, 166, 0.9);
	--grey_selected: rgb(150, 150, 150);
	--viewport_background: rgb(240, 240, 240);

	/*BORDERS*/
	--gui_border: 1px solid black;

	/*LAYOUT*/
	--menu_bar_height: 28px;
	--sidebar_left_width: 400px;
	--sidebar_right_width: 250px;
	--legend_width: 170px;

	/*GUI ELEMENTS*/
	--gui_base_height: 28px;
	--text_button_padding: 0.45em 0.7rem 0.4rem 0.7rem;
	--number_button_padding: 0.5em 0.7rem 0.2rem 0.7rem;
	--gui_transition: background-color 0.2s,  color 0.2s, box-shadow 0.2s;
	--histogram_height: 100px;
}


* {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
}

.green_shadow  {
	-webkit-box-shadow: 2px 2px 11px 2px var(--green);
	box-shadow: 2px 2px 11px 2px var(--green);
}

.light_green_shadow,
.range_control:hover  {
	-webkit-box-shadow: 1px 1px 5px 1px var(--green);
	box-shadow: 1px 1px 5px 1px var(--green);
}

.light_shadow,
.button {
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.4); 
	box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.4);
}

html,
body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	font-family: Favorit_regular;

}

ul {
	margin-block-start: 0px;
	margin-block-end: 0px;
	padding-inline-start: 0px;
}

label {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: normal;
	color: black;
}


::-moz-selection { /* Code for Firefox */
  color: black;
  background: var(--green);
}

::selection {
  color: black;
  background: var(--green);
}


@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.dumy {
	opacity: 0;
}

.modal_title {
	position: relative;
	display: inline-block;
	font-family: Favorit_light;
	font-size: var(--large_text_size);
	line-height: var(--large_text_lh);
	background-color: white;
	border: var(--gui_border);
	border-radius: calc(var(--large_text_lh) + var(--block_padding));
	width: auto;
	height: calc(var(--large_text_lh) + var(--block_padding) + 0.1rem);
	padding: var(--title_padding);
}

.modal {
	text-align: center;
	padding: var(--modal_padding);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.crisp_image {
		image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+       */
}

*:focus {
    outline: none;
}

.oblique_stripes {
	background-image: linear-gradient(45deg,#000 4.55%,#fff 0,#fff 50%,#000 0,#000 54.55%,#fff 0,#fff);
	background-size: 11px 11px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar_left::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebar_left {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}