* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Favorit_light";
  src: url("../fonts/ABCFavorit-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Favorit_light";
  src: url("../fonts/ABCFavorit-LightItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Favorit_regular";
  src: url("../fonts/ABCFavorit-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Favorit_regular";
  src: url("../fonts/ABCFavorit-Italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Favorit_bold";
  src: url("../fonts/ABCFavorit-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Favorit_bold";
  src: url("../fonts/ABCFavorit-BoldItalic.ttf") format("truetype");
  font-style: italic;
}