
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    font-family: monospace;
}
a {
    font-weight: bolder;
    color: black;
}
a:hover {
    text-decoration: none;
    background-color: black;
    color: white;
}
a:hover .panel {
    background-color: black;
}
.linkless:hover {
    background-color: inherit;
}
p {
    font-size: 12px;
    line-height: 16px;
    padding: 5px 0;
}
.slide {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gui_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.gui_bottom_center {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
}
.gui_top_center {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
}
@media screen and (max-width: 600px) {
    .gui_center {
        width: calc(100% - 40px);
    }
    .gui_bottom_center {
        width: calc(100% - 40px);
    }
}
.panel {
    width: fit-content;
    background-color: white;
    box-shadow: 10px 10px 0 black;
    padding: 5px 10px;
}
.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}
.column > .space {
    margin-bottom: 10px;
}
.row > .space {
    margin-right: 10px;
}
.words {
    flex-wrap: wrap;
}
.words > * {
    margin-right: 10px;
}
.lot_of_words {
    flex-wrap: wrap;
}
.lot_of_words > * {
    margin-bottom: 10px;
    margin-right: 10px;
}
.not_large {
    max-width: 400px;
    margin: auto;
}
.right {
    align-self: end;
}
.flex_center {
    justify-content: center;
}
.self_center {
    align-self: center;
}
.scroll_cursor {
    cursor: pointer;
    align-self: center;
    transition: transform 0.1s ease-in-out;
}
.scroll_cursor:hover {
    transform: scale(1.1);
}
.moving_cursor {
    animation: move_down 0.5s alternate infinite ease-in-out;
}
.moving_cursor_180 {
    animation: move_up 0.5s alternate infinite ease-in-out;
}
@keyframes move_down {
    to { transform: translatey(-20%); }
}
@keyframes move_up {
    to { transform: translatey(20%); }
}